body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta Malar', sans-serif;

}

.baggrund {
    background-color: #E9E2D9;
}

/*Animation on arrow up inspiration from:https://animista.net/play/attention/bounce*/
.bounce-top {
	-webkit-animation: bounce-top 5s linear infinite both;
	        animation: bounce-top 5s linear infinite both;
}



.pilop {
    width: 5%;
    justify-content: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom:50px;
    scroll-behavior: smooth;
}

footer a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 1.8em;
    font-family: 'Reem Kufi', sans-serif;
    text-align: left;
    margin: 0 5%;
}

h2 {
    font-size: 1.97em;
    text-align: center;
    font-weight: normal;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
}

h4 {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}


.pcenter {
    text-align: center;
}

.h3center {
    text-align: center;
}




/* Blomsterbilleder start*/
.buket {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;


}

.gerbera {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tulipan {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rose {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.nelike {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.symboliktekst {
    margin: 0 5%;
}


.gerberatekst {
    margin: 0 5%;
}


.tulipantekst {
    margin: 0 5%;
}



.rosetekst {
    margin: 0 5%;
}


.neliketekst {
    margin: 0 5%;
}

/* Blomsterbilleder slut*/

/*footer*/

.streg {
    margin-top: 30px;
    background-color: black;
    height: 1px;

}

.flex_fbig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.fb {
    margin-left: 35%;
    width: 10%;
}

.insta {
    margin-right: 35%;
    width: 10%;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pcenter {
        font-size: 1em;
    }

    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1.1em;
    }

    .symboliktekst {
        margin: 5%;
    }

    .buket {
        width: 42%;

    }

    .gerbera {
        width: 32%;
    }

    .gerberatekst {
        margin: 5%;
    }


    .tulipan {
        width: 40%;
    }

    .tulipantekst {
        margin: 5%;
    }

    .rose {
        width: 28%;
    }

    .rosetekst {
        margin: 5%;
    }



    .nelike {
        width: 45%;
    }

    .neliketekst {
        margin: 5%;
    }


    .streg {
        background-color: black;
        height: 1px;
    }

    .container_footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 02%;
    }

    .flex_fbig {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

}






/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 800px) {

    .pcenter {
        font-size: 1.3em;
    }

    p {
        font-size: 1.1em;
    }

    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 2.7em;
    }

    h4 {
        font-size: 1.3em;
    }


    .container_symbolikcover {
        display: grid;
        grid-template-columns: auto auto;
    }

    .buket {
        width: 60%;
        margin-top:-50px;
    }


    .symboliktekst {
        margin: 0 9%;
    }

    .symbolikgridbox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 0px 0px;
        grid-gap: 20px;

    }

    .gerbera {
        margin-top: 40%;
        grid-area: 1/1/2/2;
    }

    .gerberatekst {
        grid-area: 1/2/2/3;
        margin: 2%;
        margin-right: 15%;
    }

    img.gerbera {
        width: 45%;
    }


    .tulipantekst {
        grid-area: 2/1/3/2;
        margin-left: 15%;
    }

    .tulipan {
        margin-top: 40%;
        grid-area: 2/2/3/3;
    }

    img.tulipan {
        width: 55%;
    }


    .symbolikgridbox2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 0px;
        grid-gap: 20px;

    }

    .rosetekst {
        grid-area: 1/2/2/3;
        margin-right: 15%;
    }

    .rose {
        margin-top: 40%;
        grid-area: 1/1/2/2;
    }

    img.rose {
        width: 35%;
    }



    .neliketekst {
        grid-area: 2/1/3/2;
        margin-left: 15%;
    }

    .nelike {
        grid-area: 2/2/3/3;
        margin-top: 40%;
    }

    img.nelike {
        width: 60%;
    }


}

@media only screen and (min-width: 1024px) {
    
    .h1 {
        font-size: 3em;
    }
    
    p {
        line-height: 1.7em;
    }
    
    .gerbera {
        margin-top: 25%;
    }
    
    .tulipan {
        margin-top: 25%;
    }
    
    .rose {
        margin-top: 25%;
    }
    
     .nelike {
        margin-top: 25%;
    }
    
}

@media only screen and (min-width: 1124px) {
    
    .h1 {
        font-size: 3em;
    }
    
    p {
        line-height: 1.7em;
    }
    
    .gerbera {
        margin-top: 14%;
    }
    
    .tulipan {
        margin-top: 15%;
    }
    
    .rose {
        margin-top: 18%;
    }
    
     .nelike {
        margin-top: 18%;
    }
    
}

@media only screen and (min-width: 1324px) {
    
    .h1 {
        font-size: 3em;
    }
    
    p {
        line-height: 1.7em;
    }
    
    .gerbera {
        margin-top: 8%;
    }
    
    .tulipan {
        margin-top: 8%;
    }
    
    .rose {
        margin-top: 8%;
    }
    
     .nelike {
        margin-top: 8%;
    }
    
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-26 11:2:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}